# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/
node_modules/
build/
temp/

## Ignorando configurações do banco
ormconfig.json

## Ignorando as váriaveis de ambiente
.env

## A pasta TMP é ignorada, mas a .gitkeep não
tmp/*
!tmp/.gitkeep

## Não enviar pois somente tem requisito e regras do sistema
*.md

